/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);

  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.heading {
  font-size: 36px;
  font-weight: bold;
  color: white;
  font-family: roboto;
}
.show-hide-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
}
.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px;
  margin-right: 32px;
  margin-right: 32px;
}
.button {
  font-family: roboto;
  font-size: 10px;
  font-weight: bold;
  background-color: white;
  color: #dd1264;

  height: 35px;
  width: 150px;
  border: none;
  margin: 30px;
}
.name {
  background-color: #fddddb;
  text-align: center;
  font-family: roboto;
  font-size: 24px;
  font-weight: 500;
  border-radius: 12px;
  border-top: 48px;
  border-bottom: 48px;
  border-left: 106px;
  border-right: 106px;
  color: black;
  height: 100px;
  width: 100px;
}
